/* GENERAL */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 16px;
  color: #0c0c0c;
}
.btn {
  border: 0;
  border-radius: 3px;
  padding: 0.6em ;
  text-transform: uppercase;
}
.btn-primary {
  background-color: #1b2b9f;
  transition: 0.2s;
}
.btn-primary:hover {
  background-color: rgba(0,59,180,1);
}
.btn-secondary {
  background-color: #777;
}
.section {
  padding: 2em;
}


/* HEADER */
header {
  display: flex;
  flex-flow: column;
  height: 100%;
  /* max-height: 1000px; */
  /* background-image: url(../img/bg/mic.jpg); */
  background-image: url(../img/bg/mic.jpg);
  background-position: 50% 45%;
  background-size: cover;
}
.navbar-dark {
  background-color: transparent !important;
}
.navbar-nav {
  text-transform: lowercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5pt;
}
.logo {
  font-family: 'Poiret One', cursive;
  font-size: 3em;
  font-weight: 100;
}
#header {
  flex-grow: 1;
  height: 600px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.5em;
}
#header h2 {
  margin-bottom: 0.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #f8f8f8;
  font-size: 3.2em;
}
.bold {
  font-weight: 700;
}
p.subheader {
  color: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
}

/* DEMO REELS */
#demo-reels {
  padding: 4em 1em;
  color: #f8f8f8;
}
#demo-reels .btn-primary {
  margin: 0.25em 0;
  padding: 0.75em 0;
  border-radius: 2px;
  width: 100%;
  background-color: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #0c0c0c;
  font-size: 1em;
  box-shadow: 3px 3px 5px 0px #0c0c0c;
  transition: 0.2s;
}
#demo-reels .btn-primary:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
#demo-reels svg {
  margin-left: 0.5em;
}

/* ABOUT */
#about {
  padding: 0;
  background-color: #f8f8f8;
}
.about-textwrap {
  padding-top: 2em;
  padding-bottom: 2em;
}
.port-img-col {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0;
}
.port-img {
  max-width: 100%;
}
.resume-icon {
  width: 100%;
  max-width: 450px;
}
.port-thumb {
  border: 1px solid #0c0c0c;
}
@media screen and (min-width: 992px) {

}

/* RESUME */
#resume {
  /* border-top: 1px solid #b7b7b7; */
  background-color: #ececec;
}

/* GALLERY */
#gallery {
  background-color: #fff;

  /* background: rgb(27,43,159);
  background: -moz-linear-gradient(90deg, rgba(27,43,159,1) 35%, rgba(0,59,180,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(27,43,159,1) 35%, rgba(0,59,180,1) 100%);
  background: linear-gradient(90deg, rgba(27,43,159,1) 35%, rgba(0,59,180,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b2b9f",endColorstr="#003bb4",GradientType=1); */

  /* color: #0c0c0c;
  background-color: #f3f4f9;
  background-repeat: no-repeat;
  background-image: url(../img/bg/px-bg.jpg);
  background-position: center top;
  background-size: contain; */

}
#gallery .card {
  display: block;
  margin: 0 auto;
  max-width: 20em;
  background-color: #f8f8f8;
}
.card {
  height: 100%;
  /* min-height: 600px; */
}
.card-body {
  color: #0c0c0c;
}
.card img {
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.card .btn {
  display: block;
  margin: 0 auto;
}
.card .btn-secondary {
  max-width: 225px;
  background-color: #0c0c0c;
}

/* CONTACT */
#contact {
  /* background-color: #d6dde5; */
  color: #f8f8f8;
  /* height: 100%; */
  /* max-height: 1000px; */
  /* background-image: url(../img/bg/mtn-v2.jpg);
  background-position: 50% 0%;
  background-size: cover; */

  color: #0c0c0c;
  background-color: #d8dce5;
  background-repeat: no-repeat;
  /* background-image: url(../img/bg/mtn-v2.jpg); */
  background-image: url(../img/bg/mtn-v2.jpg);
  background-position: center bottom;
  background-size: cover;

}
#contact form {
    padding: 2em;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.35);
}

#contact label {
  margin: 0;
  font-weight: 500;
  color: #0c0c0c;
}
a.view-resume:link,
a.view-resume:visited {
  color: #f8f8f8;
}
a.view-resume:hover,
a.view-resume:active {
  text-decoration: none;
}
#contact input, #contact textarea {
  border: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media a:link,
.social-media a:visited {
  margin-right: 0.3em;
  /* color: #f8f8f8; */
}
.social-media a:hover,
.social-media a:active {
  color: #f8f8f8;
  text-decoration: none;
}
a.yt {
  color: #c4302b;
  font-size: 1.5em;
}
a.yt:hover {
  color: #c4302b;
}
a.tw {
  color: #00acee;
  font-size: 1.5em;
}
a.tw:hover {
  color: #00acee;
}
a.voices {
  color: #f8f8f8;
  font-size: 1.1em;
}
a.voices:hover {
  color: #f8f8f8;
}
.voices-icon {
  height: 18px;
}

/* FOOTER */
footer {
  padding: 0.5em;
  background-color: #0c0c0c;
  color: #ddd;
  text-align: center;
  font-size: 0.8em;
}
